<header>
    <div id="head-wrap1">
        <h1 id="induct">INDUCT EDDIE MURPHY INTO THE ROCK AND ROLL HALL OF FAME</h1>
    </div>
    <div id="head-wrap2">
        <h1 id="induct">INDUCT EDDIE MURPHY INTO THE ROCK AND ROLL HALL OF FAME</h1>
    </div>
</header>
